*{
  margin: 0;
  padding: 0;
}
.card{
  border: 2px solid #000;
  max-width: 23vw;
  padding: 10px;
}

.container{
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(#efefef,rgb(182, 114, 114));
  padding: 1vw 1.5vw;
}